:root {
    --absolute-background: #ffffff;
}
@media (prefers-color-scheme: dark) {
    :root {
        --absolute-background: #000000;
    }
}
body {
    padding: 1rem;
}
table {
    display: block;
    overflow-x: auto;
}
th, td {
    text-align: center;
}
tr > th:first-child, tr > td:first-child {
    font-weight: bold;
    position: sticky;
    left: 0;
    background-color: var(--absolute-background) !important;
}
tr > td:nth-child(2), tr > td:nth-child(3) {
    white-space: nowrap; /* Do not wrap address or last updated columns */
}
#locations {
    margin-bottom: 0;
}
#locations > * {
    display: inline-block;
    margin-bottom: var(--pico-spacing);
}
a, a:visited {
    color: blue;
    text-decoration-color: blue;
}